{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
.all-title-box{
 background: url("https://duzcam.sisecam.com/sites/catalogs/tr/PublishingImages/Lists/Architectural%20Reference%20Projects/AllItems/West-Gate-Residence-Sisecam-Temperlenebilir-Solar-Low-E-Cam-Notral-50-33-62-44%20(1).jpg") no-repeat center center;
 -webkit-background-size: auto;
 -moz-background-size: cover;
 -ms-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 text-align: center;
 background-attachment: fixed;
 padding: 70px 0px;
 position: relative;
}
</style>
<body>

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>HAKKIMIZDA</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="http://127.0.0.1:8000/">Ana Sayfa</a></li>
                        <li class="breadcrumb-item active">Hakkımızda</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start About Page  -->
    <div class="about-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    {% for item in ust_bolum %}
                    <h2 class="noo-sh-title">{{item.baslik}}</span></h2>
                    <p>{{item.ilk_parag}}"</p>
                    <p>{{item.ikinci_parag}}</p>
                    {% endfor %}
                </div>
                {% for item in yan_resim %}
                <div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-thumbnail img-fluid" src="{{item.rsm.url}}" alt="" />
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row my-5">
                {% for item in alt_kutucuklar %}
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>{{item.kutu_basligi}}</h3>
                        <p>{{item.kutu_icerigi}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- End About Page -->

    <!-- Start Instagram Feed  -->
    <div class="instagram-box">
        <div class="main-instagram owl-carousel owl-theme">
            {% for item in instagram_galerisi %}
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{{item.resim.url}}" alt="" />
                    <div class="hov-in">
                        <a href="{{item.resim_url}}"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- End Instagram Feed  -->

    <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static 'js/jquery.superslides.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.js' %}"></script>
    <script src="{% static 'js/inewsticker.js' %}"></script>
    <script src="{% static 'js/bootsnav.js.' %}"></script>
    <script src="{% static 'js/images-loded.min.js' %}"></script>
    <script src="{% static 'js/isotope.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/baguetteBox.min.js' %}"></script>
    <script src="{% static 'js/form-validator.min.js' %}"></script>
    <script src="{% static 'js/contact-form-script.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script id="_waudn6">var _wau = _wau || []; _wau.push(["tab", "buf3hmvu8l", "dn6", "bottom-right"]);</script>
    <script async src="{% static 'js/sayac.js' %}"></script>
</body>
</html>
{% endblock %}